<template>
    <div class="card col-lg-3 col-md-3 col-sm-6 ">
        <div class="image-card template-for-fill" style="height:100%; width:100%; display:flex; align-items:center;">
            <img class="card-img-top" src="/images/products/{{ product-image }}" alt="Card image cap">
        </div>

        <div class="card-body ">
            <h5 class="card-title template-for-fill">{{ product-name }}</h5>
            <p class="card-text template-for-fill" style="height:-20px;">{{ product-price }}</p>
            <hr>
            <div class="card-btn product" data-id="2">
                <button id="cart" type="button" class="btn btn-outline-success">
                    <i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
                <a href="/products/2" class="btn btn-outline-dark">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
</template>

<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card template-for-fill" style="height:100%; width:100%; display:flex; align-items:center;">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <div class="card-body ">
        <h5 class="card-title template-for-fill">&nbsp</h5>
        <p class="card-text template-for-fill" style="height:-20px;">&nbsp</p>
        <hr>
        <div class="card-btn product" data-id="2">
            <button id="cart" type="button" class="btn btn-outline-success">
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <a href="/products/2" class="btn btn-outline-dark">
                See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card template-for-fill" style="height:100%; width:100%; display:flex; align-items:center;"></div>

    <div class="card-body ">
        <h5 class="card-title template-for-fill">&nbsp</h5>
        <p class="card-text template-for-fill" style="height:-20px;">&nbsp</p>
        <hr>
        <div class="card-btn product" data-id="2">
            <button id="cart" type="button" class="btn btn-outline-success">
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <a href="/products/2" class="btn btn-outline-dark">
                See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card template-for-fill" style="height:100%; width:100%; display:flex; align-items:center;"></div>

    <div class="card-body ">
        <h5 class="card-title template-for-fill">&nbsp</h5>
        <p class="card-text template-for-fill" style="height:-20px;">&nbsp</p>
        <hr>
        <div class="card-btn product" data-id="2">
            <button id="cart" type="button" class="btn btn-outline-success">
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <a href="/products/2" class="btn btn-outline-dark">
                See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>

<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card template-for-fill" style="height:100%; width:100%; display:flex; align-items:center;"></div>

    <div class="card-body ">
        <h5 class="card-title template-for-fill">&nbsp</h5>
        <p class="card-text template-for-fill" style="height:-20px;">&nbsp</p>
        <hr>
        <div class="card-btn product" data-id="2">
            <button id="cart" type="button" class="btn btn-outline-success">
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <a href="/products/2" class="btn btn-outline-dark">
                See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>