<div class="container" style="height:70vh;">
        <div class="row ">

            <div class="profile-tabs tab-content col-md-6 mx-auto" >
                <div id="overview" class="tab-pane fade show active">
                    <div class="card fav-card">
                         <div class="card-header bg-dark text-light">Add Price</div>
                        <div class="card-body">

                            <form class="form-horizontal" method="post" action="/admin/add_price">                         
                                <div class="form-group">
                                        <a> Price </a>
                                        <input id="name" type="text" class="form-control mt-3" name="price" value="" required>
                                </div>   
                                <div class="form-group float-right mt-3">
                                    <button type="submit" class="btn btn-dark ">Finish</button>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>