<div role="tabpanel" class="tab-pane fade" id="step-4" aria-labelledby="step-4-link">
    <div class="container-fluid" style="width:70%;">
        <div class="card fav-cart">
            <div class="card-header bg-dark text-light">Purchase Confirmation</div>
            <div class="card-body">
                <div id="products_list">

                </div>

                <h5><strong>Expedition Info</strong></h5>
                <h6><strong>Address: </strong> <span id="address-conf"></span></h6>
                <h6><strong>Tax Identification Number: </strong> <span id="nif-conf"></span></h6>
                <h6><strong>Payment Method: </strong> <span id="payment-conf"></span></h6>
                <hr>

                <h6 class="float-right"><strong>Total:</strong> <span id="total-conf"></span> €</h6>

            </div>
            <div class="card-footer">
                <button id="confirmation" type="submit" class="btn btn-outline-dark float-right">
                <i class="fas fa-check"></i> Confirm
                </button>
            </div>
        </div>
    </div>
</div>