<div role="tabpanel" class="tab-pane fade" id="step-4" aria-labelledby="step-4-link">
                <div class="container-fluid" style="width:70%;">
                    <div class="card fav-cart">
                        <div class="card-header bg-dark text-light">Purchase Confirmation</div>
                        <div class="card-body">
                            <h5><strong>Products</strong></h5>
                            <div class="product-conf" data-id="2">
                                <h6><strong>Name:</strong> MacBook Pro</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  1</h6>
                                <h6><strong>Price:</strong>  1832.99 €</h6>
                                <br>
                            </div>
                            <div class="product-conf" data-id="8">
                                <h6><strong>Name:</strong> Portátil Híbrido 14' HP Pavilion X360 14</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  2</h6>
                                <h6><strong>Price:</strong>  849.99 €</h6>
                                <br>
                            </div>
                            <div class="product-conf" data-id="3">
                                <h6><strong>Name:</strong> Huawei P20 Pro</h6>
                                <h6 class="qty"><strong>Quantity:</strong>  1</h6>
                                <h6><strong>Price:</strong>  788.99 €</h6>
                                <br>
                            </div>
                            <hr>

                            <h5><strong>Expedition Info</strong></h5>
                            <h6><strong>Address: </strong> <span id="address-conf"></span></h6>
                            <h6><strong>Contact: </strong> <span id="contact-conf"></span></h6>
                            <h6><strong>Payment Method: </strong> <span id="payment-conf"></span></h6>
                            <hr>

                            <h6 class="float-right"><strong>Total:</strong> <span id="total-conf">4321.96</span> €</h6>

                        </div>
                        <div class="card-footer">
                            <button id="confirmation" type="submit" class="btn btn-outline-dark float-right">
                            <i class="fas fa-check"></i> Confirm
                            </button>
                        </div>
                    </div>
                </div>
            </div>