
      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Computers </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Best Sellers</h3>
              <li><a href="/product/page/?productID=A001">MacBook Pro </a></li>
              <li><a href="/product/page/?productID=A018">Portátil 14' ASUS S410UN-78AM5CB1 </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/product/page/?productID=A0023">MacBook Pro 15' Retina APPLE MJLQ2 </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/product/page/?productID=A024">Portátil Híbrido 14' HP Pavilion X360 14</a></li>
              <li><a href="/product/page/?productID=A020">Portátil ACER A515-51G </a></li>
              <li><a href="/product/page/?productID=A002">Surface Laptop 13.5' Platina </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Brands</h3>
              <li><a >Apple </a></li>
              <li><a >Microsoft </a></li>
              <li><a >Asus </a></li>
              <li><a> </a></li>
            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
              <div id="menCollection" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="#"><img src="/images/products/Computers.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                  </div>
                </div>
              </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Computers" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Computers Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Accessories </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/product/page/?productID=A024">Auscultadores Bluetooth SONY WH-CH400 G.CE7 em Cinzento </a></li>
              <li><a href="/product/page/?productID=A026">Marshall Major III Headphones </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/product/page/?productID=A027">Auscultadores Bluetooth JBL E55BT </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/product/page/?productID=A028">JBL AUSCULTADOR T 600 BTH NC BRANCO </a></li>
              <li><a href="/product/page/?productID=A029">Apple Earpods </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Brands</h3>
              <li><a > JBL </a></li>
              <li><a > Marshall</a></li>

            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
              <div id="menCollection" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="#"><img src="/images/products/Accessories.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                    <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Accessories  Catalog</button>-->
                  </div>
                </div>
              </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Accessories" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Accessories Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Mobile </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/product/page/?productID=A004">IPhone X - 256 GB </a></li>
              <li><a href="/product/page/?productID=A025">Samsung S9 </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/product/page/?productID=A009">IPhone 8 Plus 256GB Dourado </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/product/page/?productID=A007">Oneplus 6 </a></li>
              <li><a href="/product/page/?productID=A008">Smartphone ASUS Zenfone 4 Max ZC554KL 32GB </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Brands</h3>
              <li><a >Apple</a></li>
              <li><a > Samsung</a></li>    
              <li><a > Huawei</a></li>

            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Mobile.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Mobile  Catalog</button>-->
                    </div>
                  </div>
                </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Mobile" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Mobile Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
          <a href="#" class="" data-toggle="dropdown">Consoles </a>
          <ul class="dropdown-menu mega-dropdown-menu show">
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Our Favorites</h3>
                <li><a href="/product/page/?productID=A005">Consola NINTENDO Switch Cinzenta </a></li>
                <li><a href="/product/page/?productID=A012">Consola PS4 Slim 500GB Preta </a></li>
                <li class="divider"></li>
                <h3 class="dropdown-header">More</h3>
                <li><a href="/product/page/?productID=A011"> </a>JXD S192K Phablet de Jogo 7 polegadas Tela de IPS</li>
              </ul>
            </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">New Items</h3>
                <li><a href="/product/page/?productID=A013">Consola Xbox One S 1TB </a></li>
              </ul>
            </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Our Brands</h3>
                  <li><a >Nintendo</a></li>
                  <li><a >Sony</a></li>
              </ul>
            </li>
            <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Consoles.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Mobile  Catalog</button>-->
                    </div>
                  </div>
                </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Consoles" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Consoles Catalog</a>
          </li>
        </ul>
      </li>



      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Components </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/product/page/?productID=A006">Placa Gráfica GIGABYTE Aorus NVidia GeForce GTX 1080 Ti Xtreme Edition 11G </a></li>
              <li><a href="/product/page/?productID=A016">Processador INTEL COREI7 6850K LGA2011-3 </a></li>
              <li class="divider"></li>
  
 
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/product/page/?productID=A017">SDXC KINGSTON 128GB CANVAS REACT 1 </a></li>
   
            </ul>
          </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Our Brands</h3>
                  <li><a >Intel</a></li>
                  <li><a >NVidia</a></li>
              </ul>
            </li>
            <li class="col-sm-3 nav-column " id="image">
              <ul>
                <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Components.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Components  Catalog</button>-->
                    </div>
                  </div>
                </div>
                <li class="divider"></li>
              </ul>
              <a href="/catalog/Components" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Components Catalog</a>
          </li>
        </ul>
      </li>