
      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Computers </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/products/2">MacBook Pro </a></li>
              <li><a href="/products/14">Portátil 14' ASUS S410UN-78AM5CB1 </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/products/10">ASUS F505Ba-A9Ar5Cb1 </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/products/12">Portátil ACER A515-51G </a></li>
              <li><a href="/products/9">LENOVO Ideapad 320-15IKBN </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Flash Sale</h3>
              <li><a href="/products/13">MICROSOFT Surface Laptop 13.5' Platina </a></li>
              <li><a href="/products/11">Portátil 15.6" HP 15-ck005np </a></li>
              <li><a href="/products/15">MacBook Pro 15' Retina APPLE MJLQ2 </a></li>
              <li><a href="/products/8">Portátil Híbrido 14' HP Pavilion X360 14 </a></li>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
              <div id="menCollection" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="#"><img src="/images/products/Computers.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                  </div>
                </div>
              </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Computers" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Computers Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Accessories </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/products/23">Auscultadores Bluetooth SONY WH-CH400 G.CE7 em Cinzento </a></li>
              <li><a href="/products/"> </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Flash Sale</h3>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
              <div id="menCollection" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <a href="#"><img src="/images/products/Accessories.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                    <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Accessories  Catalog</button>-->
                  </div>
                </div>
              </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Accessories" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Accessories Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Mobile </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/products/1">IPhone X - 256 GB </a></li>
              <li><a href="/products/4">Samsung S9 </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/products/22">IPhone 8 Plus 256GB Dourado </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/products/6">Oneplus 6 </a></li>
              <li><a href="/products/7">Smartphone ASUS Zenfone 4 Max ZC554KL 32GB </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Flash Sale</h3>
              <li><a href="/products/3">Huawei P20 Pro </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Mobile.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Mobile  Catalog</button>-->
                    </div>
                  </div>
                </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Mobile" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Mobile Catalog</a>
          </li>
        </ul>
      </li>

      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
          <a href="#" class="" data-toggle="dropdown">Consoles </a>
          <ul class="dropdown-menu mega-dropdown-menu show">
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Our Favorites</h3>
                <li><a href="/products/16">Consola NINTENDO Switch Cinzenta </a></li>
                <li><a href="/products/17">Consola PS4 Slim 500GB Preta </a></li>
                <li class="divider"></li>
                <h3 class="dropdown-header">More</h3>
                <li><a href="/products/"> </a></li>
              </ul>
            </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">New Items</h3>
                <li><a href="/products/18">Consola Xbox One S 1TB </a></li>
                <li><a href="/products/5">Xiaomi Mi Mix 2 S 64GB </a></li>
              </ul>
            </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Flash Sale</h3>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
              </ul>
            </li>
            <li class="col-sm-3 nav-column " id="image">
            <ul>
              <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Consoles.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Mobile  Catalog</button>-->
                    </div>
                  </div>
                </div>
              <li class="divider"></li>
            </ul>
            <a href="/catalog/Mobile" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Consoles Catalog</a>
          </li>
        </ul>
      </li>



      <!--- new category -->
      <li id="" class="dropdown mega-dropdown show">
        <a href="#" class="" data-toggle="dropdown">Components </a>
        <ul class="dropdown-menu mega-dropdown-menu show">
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">Our Favorites</h3>
              <li><a href="/products/19">Placa Gráfica GIGABYTE Aorus NVidia GeForce GTX 1080 Ti Xtreme Edition 11G </a></li>
              <li><a href="/products/20">Processador INTEL COREI7 6850K LGA2011-3 </a></li>
              <li class="divider"></li>
              <h3 class="dropdown-header">More</h3>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
          <li class="col-6 col-sm-4 col-md-3 nav-column">
            <ul>
              <h3 class="dropdown-header ">New Items</h3>
              <li><a href="/products/21">SDXC KINGSTON 128GB CANVAS REACT 1 </a></li>
              <li><a href="/products/"> </a></li>
            </ul>
          </li>
            <li class="col-6 col-sm-4 col-md-3 nav-column">
              <ul>
                <h3 class="dropdown-header ">Flash Sale</h3>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
                <li><a href="/products/"> </a></li>
              </ul>
            </li>
            <li class="col-sm-3 nav-column " id="image">
              <ul>
                <li class="dropdown-header"></li>
                <div id="menCollection" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="item active">
                      <a href="#"><img src="/images/products/Components.png" height="200em" width="300em" class="img-responsive rounded" alt="product 1"></a>
                      <!-- <button style="margin-top:7px" href="#" class="btn btn-outline-dark" type="button">Components  Catalog</button>-->
                    </div>
                  </div>
                </div>
                <li class="divider"></li>
              </ul>
              <a href="/catalog/Components" id="nav_button" style="margin-top:7px" class="btn btn-outline-dark" type="submit">Components Catalog</a>
          </li>
        </ul>
      </li>