 <div class="jumbotron text-center" style="background-color:transparent;">
    <br><br><br>
    <h1 class="display-3">Success!</h1><br>
    <p class="lead">{{message}}</p>
    <hr>
    <p class="lead"><br>
        <a class="btn btn-success btn-lg" href="/" role="button">Continue to homepage</a>
    </p>
    <br><br><br>
</div>