<div id="progress-bar" class="container">
    <div class="row">
        <div class="board">
            <ul class="nav nav-tabs">
                <div class="liner"></div>
                <li rel-index="0" class="active">
                    <a id="step-1-link" href="#step-1" class="btn nav-link" aria-controls="step-1" role="tab" data-toggle="tab">
                        <span> 1  </span>
                        </a><a>  Cart </a>                    
                </li>
                <li rel-index="1">
                    <a id="step-2-link" href="#step-2" class="btn disabled nav-link" aria-controls="step-2" role="tab" data-toggle="tab" aria-selected="false">
                        <span> 2  </span>
                        </a><a> Expedition </a>
                </li>
                <li rel-index="2">
                    <a id="step-3-link" href="#step-3" class="btn disabled nav-link" aria-controls="step-3" role="tab" data-toggle="tab" aria-selected="false">
                        <span> 3 </span>
                        </a><a> Payment </a>
                </li>
                <li rel-index="3">
                    <a id="step-4-link" href="#step-4" class="btn disabled nav-link" aria-controls="step-4" role="tab" data-toggle="tab" aria-selected="false">
                        <span> 4</span>
                        </a><a> Confirmation</a>
                </li>
            </ul>
        </div>          
        <div class="tab-content">
            {{> cart/step_1}}
            {{> cart/step_2}}
            {{> cart/step_3}}
            {{> cart/step_4}}
        </div>
    </div>
</div>