<ol style="margin-bottom:15px;" class="p_breadcrumb breadcrumb">
        <li class="breadcrumb-item h6"><a href="/">Home</a></li>
        <li class="breadcrumb-item active h6">{{category}}</li>
    </ol>
<hr>

<div class="card col-lg-2 col-md-3 col-sm-6 product-card">
    <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;">
        <img class="card-img-top" alt="Card image cap">
    </div>

    <div class="card-body product" >
        <h5 class="card-title"></h5>
        <p class="card-text" style="height:-20px;">€ -
        </p>
        <hr>
        <div class="card-btn">
            <button id="cart" type="button" class="btn btn-outline-success btn-block mb-2">
                <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
            <a href="" class="btn btn-outline-dark btn-block">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
            </a>
        </div>
    </div>
</div>


<div id="search-container" class="container-fluid">
        <div class="row justify-content-center">

    </div>
</div>
