<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class=""></li>
    <li data-target="#demo" data-slide-to="1" class=""></li>
    <li data-target="#demo" data-slide-to="2" class=""></li>
    <li data-target="#demo" data-slide-to="3" class="active"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item">
      <img src="/images/carousel/banner-huawei-p20pro.jpg" alt="huawei p20 pro" width="1200" height="300">
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/banner-iphone-x.jpg" alt="iPhone X" width="1200" height="300">
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/banner-ps4.jpg" alt="Ps4" width="1200" height="300">
    </div>
    <div class="carousel-item active">
      <img src="/images/carousel/banner-macbook.jpg" alt="Macbook" width="1200" height="300">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div id="featured" class="row h2">Featured Products</div>

<div id="featured-container" class="container-fluid">
  <div class="row justify-content-center">

      <div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;">
        <img class="card-img-top" src="/images/products/MacBook.png" alt="Card image cap">
    </div>

    <div class="card-body ">
        <h5 class="card-title">MacBook Pro</h5>
        <p class="card-text" style="height:-20px;">1832.99€ -
                        Available
                    </p>
        <hr>
            <div class="card-btn product" data-id="2">
                                                            <button id="cart" type="button" class="btn btn-outline-success">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                                                    <a href="/products/2" class="btn btn-outline-dark">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                </a>
            </div>

    </div>
</div>


<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;">
        <img class="card-img-top" src="/images/products/huawei-p20-pro.png" alt="Card image cap">
    </div>

    <div class="card-body ">
        <h5 class="card-title">Huawei P20 Pro</h5>
        <p class="card-text" style="height:-20px;">788.99€ -
                        Available
                    </p>
        <hr>
            <div class="card-btn product" data-id="3">
                                                            <button id="cart" type="button" class="btn btn-outline-success">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                                                    <a href="/products/3" class="btn btn-outline-dark">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                </a>
            </div>

    </div>
</div>


<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;">
        <img class="card-img-top" src="/images/products/microsoft_pc1.png" alt="Card image cap">
    </div>

    <div class="card-body ">
        <h5 class="card-title">MICROSOFT Surface Laptop 13.5' Platina</h5>
        <p class="card-text" style="height:-20px;">993.79€ -
                        Available
                    </p>
        <hr>
            <div class="card-btn product" data-id="13">
                                                            <button id="cart" type="button" class="btn btn-outline-success">
                            <i class="fa fa-shopping-cart"></i> Add to Cart
                        </button>
                                                    <a href="/products/13" class="btn btn-outline-dark">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                </a>
            </div>

    </div>
</div>

<div class="card col-lg-3 col-md-3 col-sm-6 ">
    <div class="image-card" style="height:100%; width:100%; display:flex; align-items:center;">
        <img class="card-img-top" src="/images/products/mi-mix2.png" alt="Card image cap">
    </div>

    <div class="card-body ">
        <h5 class="card-title">Xiaomi Mi Mix 2 S 64GB</h5>
        <p class="card-text" style="height:-20px;">599€ -
                        Available
                    </p>
        <hr>
            <div class="card-btn product" data-id="A0003">
                <button id="cart" type="button" class="btn btn-outline-success">
                    <i class="fa fa-shopping-cart"></i> Add to Cart
                </button>
                                                    <a href="/products/5" class="btn btn-outline-dark">
                    See More <i class="fa fa-arrow-right-arrow-alt-circle-right"></i>
                </a>
            </div>

    </div>
</div>
</div>
</div>