<div class="sign container-fluid">
	<h4 class="p-2">Sign up</h4>
			<form>
				<div class="form-group">
						<input type="text" class="form-control" id="inputUsename2" placeholder="Username">
				</div>
				<div class="form-group">
						<input type="text" class="form-control" id="inputPassword2" placeholder="Password">
				</div>
				<div class="form-group">
						<input type="text" class="form-control" id="inputPassword3" placeholder="Confirm Password">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="inputEmail" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="inputAddress" placeholder="Address">
				</div>
				<div class="form-row">
					<div class="form-group col-md-8">
						<input type="text" class="form-control" id="inputCity" placeholder="City">
					</div>
					<div class="form-group col-md-4">
						<input type="text" class="form-control" id="inputZip" placeholder="Zip">
					</div>
				</div>
				<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
							<label class="form-check-label" for="invalidCheck2">
								Agree to terms and conditions
							</label>
						</div>
					</div>
				<div class="form-group">
					<button type="submit" class="btn btn-dark ">Sign up</button>
				</div>
			</form>
	</div>
</div>