<!DOCTYPE html>
<html lang="en-us">
<head>

    {{> inc/head }}

</head>
<body>
    {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
      <p class="mb-0">{{error}}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}}
    {{> inc/nav }}
    {{{ body }}}
    {{> inc/footer }}
</body>
</html>
